.destination {
    display: none;
    position: fixed;
    top: 1rem;
    right: 2rem;
    .end {
        margin: 5px;
        span {
            font-size: 1.3rem;
            letter-spacing: 1px;
            text-transform: uppercase;
        }
        input {
            transition: 300ms ease-in-out;
            outline: none;
            padding: 10px;
            border-radius: 5px;
            border: solid 2px lightgray;
            width: 50px;
            margin-left: 1rem;
            text-align: center;
            &:focus {
                border: solid 2px rgba(72, 14, 119, 0.87);
            }
        }
    }
}

.container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}
