<div class="container flex mat-elevation-z1">
    <app-chat-header></app-chat-header>
    <div class="flex conversation">
        <div class="contacts ">
            <app-user-chat *ngFor="let user of userProvider.users" [user]="user" (click)="setCurrentChat(user)">
            </app-user-chat>
        </div>

        <div class="chat flex" *ngIf="userProvider.currentChat">
            <div class="messages flex">
                <app-message *ngFor="let message of messageService.messages" [message]="message"></app-message>
            </div>
            <app-send (send)="sendMessage($event)"></app-send>
        </div>
    </div>

</div>