@import "../../../../../variables.scss";
.container {
    width: 90vw;
    height: 90vh;
    background-color: #ededed;
    flex-direction: column;
    overflow: hidden;
    app-chat-header {
        flex-grow: 0;
    }
    .conversation {
        flex-grow: 1;
        overflow: hidden;
        .contacts {
            width: $contacts;
            min-width: $contacts;
            background-color: white;
        }
        .chat {
            flex-grow: 1;
            box-sizing: border-box;
            position: relative;
            flex-direction: column;
            background-color: rgba(204, 189, 189, 0.89);
            width: 100%;
            .messages {
                height: 100%;
                padding: 1rem 5%;
                overflow-y: auto;
                flex-direction: column-reverse;
                app-message:last-child {
                    padding-top: 15px;
                }
            }
        }
    }
}
