.container {
    flex-grow: 1;
    .message {
        padding: 8px;
        background-color: white;
        min-height: 20px;
        width: fit-content;
        border-radius: 10px;
        max-width: 50%;
        margin: 0 0 2px;
        overflow: hidden;

        .msg {
            color: black;
            height: auto;
            overflow-wrap: break-word;
            word-wrap: break-word;
            overflow: hidden;
        }
        .date {
            color: rgb(70, 68, 68);
            font-size: 0.7rem;
            margin-left: 8px;
            min-width: fit-content;
            
        }
    }
}

.own {
    justify-content: flex-end;
    .message {
        background-color: #9146ff;
        .msg {
            color: white;
        }
        .date {
            color: white;
        }
    }
}
