.container {
    padding: 0 0 1rem;
    .message {
        padding: 8px;
        background-color: white;
        min-width: 150px;
        min-height: 20px;
        width: fit-content;
        border-radius: 10px;
        max-width: 50%;

        .msg {
            color: black;
            height: auto;
        }
        .date {
            height: 100% !important;
            color: lightgray;
            font-size: 0.7rem;
            margin-left: 10px;
        }
    }
}

.own {
    justify-content: flex-end;
    .container {
        .message {
            padding: 5px;
            background-color: rgb(139, 233, 167);
            border-radius: 20px;
            color: black;
        }
    }
}
